page-quiz {
	.toolbar-background{
		background-color: #ed2b33;
	}
	.toolbar-title{
		color: white;
	}
	.back-button{
		color: white;
	}
	.btn-sub-quiz{
		background:linear-gradient(to right,#3968FC,#2F42FE);
	}
	.opsi-quiz{
		margin-left: 5px;
	}
	

}
