page-pendahuluan {   
	.toolbar-background{
		background-color: #ed2b33;
	}
	.toolbar-title{
		color: white;
	}
	.back-button{
		color: white;
	}
.gambar-materi{
   
    display: table;
    margin:  0 auto;
}
.isi-materi p{
    text-align: justify;
    
}
}